.createpage__form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.createpage__header{
    display: flex;
}

.createpage__title{
    flex: 1;
    margin: 10px;
}

.createpage__date{
    margin: 10px;
}

.createpage__button{
    width: 10%;
}

.ck-editor__editable {
    min-height: 250px !important;
}